@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    color: white;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    min-width: 40vw;
}

.logo {
    display: flex;
    font-family: Norse-Bold;
    font-size: 100px;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 20vh;
}

.right {
    display: flex;
    flex-direction: column;
}

p {
    font-size: x-large;
    font-weight: 500;
}

.back {
    background-color: lightgrey;
}

p {
    padding: 0;
    margin-top: 0;
}

.top {
    padding: 50px 220px 50px 50px;
}

.mid {
    padding: 30px;
}

label {
    font-size: small;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.two {
    margin-left: 50px;
}

.name ,
.details ,
.pass {
    display: flex;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

input:focus {
    border: 1px solid royalblue;
    outline: none;
    box-shadow: 2px 2px lightgray;
}

.error:focus {
    border: 1px solid red;
    outline: none;
    box-shadow: 2px 2px lightgray;
}

input {
    border-radius: 5px;
}

.error {
    border: 1px solid red;

}

.container > div {
    display: none;
}

.error + div {
    display: block;
    font-size: small;
    color: red;
}

.bottom {
    padding: 30px;
    height: 100%;
}

.bottom > p {
    margin-top: 20px;
    font-size: medium;
}

button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
}

a{
    color: #596D48;
    font-weight: bold;
}

.credit {
    position: absolute;
    bottom: 5px;
    left: 13vw;
    font-size: small;
}
.credit > a {
    color: white;
}
